body {
    margin: 0;
}

#root {
    background-color: silver;
    margin: 1em;
    border: double 3px #000;
    height: 1000px;
    width: 90%;
}

.f-tree {
    height: 100%;

    &_core {
        height: 100%;
        position: relative;
        overflow: auto;
    }

    &_scroll-panel {
        background-color: silver;
    }

    &_render-panel {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 0;
    }

    &_node {
        overflow: hidden;

        &:hover {
            background-color: #d1d0ce;
        }

        &.-expand, &.-collapse {
            transition: height .2s ease;
            background-color: silver;
        }
    }

    &_node-shader, 
    &_node-busy {
        margin: 0;
        line-height: 28px;
        font-family: arial;
    }

    &_toggle, 
    &_icon,
    &_spinner {
        display: inline-block;
        width: 1.2em;
        text-align: center;
    }

    &_toggle {
        transform: scale(0.7);
        transition: transform 0.2s ease;

        &.icon-play3 {
            &.-expanded {
                transform: scale(0.7) rotate(90deg);
            }
        }
    }

    &_label,
    &_busy-msg {
        padding: 0 .5em;
    }

    &_trans {
        list-style: none;
        padding: 0;
    }
}