body {
    margin: 0;
}

#root {
    background-color: lightyellow;
    margin: 1em;
    border: double 3px #000;
    height: 600px;
    width: 35%;
}

.f-tree {
    height: 100%;

    &_core {
        height: 100%;
        position: relative;
        overflow: auto;
    }

    &_scroll-panel {
        background-color: pink;
    }

    &_render-panel {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 0;
    }

    /* &_node {
        background-color: yellow;

        &:nth-child(even) {
            background-color: orange;
        }
    } */

    &_node-shader {
        margin: 0;
        line-height: 28px;
        font-family: arial;
    }

    &_toggle, &_icon {
        display: inline-block;
        width: 1.2em;
        text-align: center;
    }

    &_toggle {
        transform: scale(0.7);
        transition: transform 0.2s ease;

        &.icon-play3 {
            &.-expanded {
                transform: scale(0.7) rotate(90deg);
            }
        }
    }

    &_label {
        padding: 0 .5em;
    }
}